body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family: Arial, sans-serif;
   text-align: center;
}

figure {
    margin: 0;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid transparent;
}

figcaption {
    font-family: Arial, sans-serif;
    margin-top: 5px;
}


/* 
   Mobile-First View (Default, No Media Queries)
*/
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
}

.grid img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    object-fit: cover;
}


/*
   Tablet View (Triggers at 772px)
*/
@media screen and (min-width: 772px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid figure {
        border-radius: 50%;
        overflow: hidden;
    }

    .grid figure:last-child {
        grid-column: span 2;
    }
}


/* 
   Large Screen View (Triggers at 992px)
*/
@media screen and (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid figure:nth-child(3n) {
        grid-column: span 2;
    }

    .grid figure {
        border-radius: 0;
    }
    
    .grid figure:last-child {
        grid-column: auto;
    }
}


/*   
    Prefers-Reduced-Motion Media Query
*/
@media (prefers-reduced-motion: reduce) {
    /* a. Remove the scroll behavior */
    html {
        scroll-behavior: auto !important;
    }
}


/*   
    Dark Color Scheme Media Query
 */
@media (prefers-color-scheme: dark) {
    .grid figure {
        background-color: #222222;
        
        border-color: #000000; 
    }

    .grid figcaption {
        color: #fffae6; 
    }
}